#comic {
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
}

#comic-name {
    color: #fff;
    padding-bottom: 10px;
}

#comic-header button {
    color: #fff;
    font-size: 14px;
    background-color: #768fa5;
    border: none;
    border-radius: 7px;
    box-shadow: 0 5px #5c768c;
    padding: 5px 10px;
}

#comic-header button:focus {
    outline: 0;
}

#comic-header button:hover {
    background-color: #67839b;
}

#comic-header button:active {
    box-shadow: 0 0 #5c768c;
    transform: translateY(5px);
}

#comic-img img {
    padding: 10px;
    max-width: 100%;
    margin-bottom: -4px;
}

#comic-loader {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 1.5s linear infinite;
    margin: 15px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
