#switchtour-menu {
    z-index: 2;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 1px solid #2c3143;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.switchtour-mouseover {
  position: relative;
}

.switchtour-help {
  z-index: 3;
  position: absolute;
  display: none;
  background-color: #fff;
  border: 1px solid #2c3143;
  border-radius: 0px 10px 10px 10px;
  top: 50%;
  left: 101%;
}

#switchtour-masthead {
    color: #fff;
    padding-bottom: 8px;
    padding-top: 5px;
}

#switchtour-masthead button {
    color: #fff;
    font-size: 14px;
    background-color: #768fa5;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px #5c768c;
    padding: 0 14px;
}

#switchtour-masthead button:focus {
    outline: 0;
}

#switchtour-masthead button:active {
    box-shadow: 0 0 #5c768c;
    transform: translateY(5px);
}
